#navbar {
  display: flex;
  justify-content: space-between;
  padding: 10px 10%;
  align-items: center;
  background-color: #f26522;
  position: sticky;
  top: 0px;
}

#navlinks {
  list-style-type: none;
  display: flex;
  padding: 10px 0;
}

.navlink a {
  color: white;
  padding: 20px 10px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 100;
  font-size: 14px;
}

.mobile-menu {
  display: none;
}

.search-icon {
  color: white;
}
